<div class="block">
  <h2>Error:</h2>
  <div class="borderbox">
    <div class="borderboxtop">
      <div></div>
    </div>
    <div class="borderboxcontent">
       <div class="closeBtn"><a href="#" title="Dismiss Errors" onclick="FreemarkerTool.ui.dismissErrors();return false"><span>dismiss</span></a></div>
       <p>${message}</p>
    </div>
    <div class="borderboxbot">
      <div></div>
    </div>
  </div>
</div>